@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Regular'),
    url('/fonts/NetflixSans-Regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Bold'),
    url('/fonts/NetflixSans-Bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Medium'),
    url('/fonts/NetflixSans-Medium.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Netflix Sans';
  src: local('NetflixSans-Light'),
    url('/fonts/NetflixSans-Light.woff2') format('woff2');
  font-weight: 300;
}

body {
  font-family: 'Netflix Sans';
}

@layer components {
  .container{
    @apply max-w-screen-xl mx-auto gap-6 py-10 sm:gap-8 flex 
  }
}